/* H1: RegoReg60 */
h1 {
  font-family: 'RegoReg', Arial;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.075rem;
}

/* H2: RegoReg48 */
h2 {
  font-family: 'RegoReg', Arial;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.06rem;
}

/* H3: RegoReg30 */
h3 {
  font-family: 'RegoReg', Arial;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.0375rem;
}

/* Sub: RegoReg24 */
.sub {
  font-family: 'RegoReg';
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.03rem;
}

/* ButtonText: AveMed18 */
.button_text {
  font-family: 'AveMed';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.0225rem;
}

.RegoReg {
  font-family: 'RegoReg', Arial;
  font-style: normal;
  font-weight: 400;
}

.mt-navbar {
  margin-top: 20vh;
}

.pt-navbar {
  padding-top: 20vh;
}
